<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{_layouts/default :: layout(~{::title}, ~{::main}, ~{::script})}">
<head>
<meta charset="UTF-8">
<title>会員追加画面</title>

</head>
<body>
	<main>
		<form th:action="@{app-member/add}" method="post">
			<div>
				<label for="familyName">姓：</label>
				<input type="text" name="familyName">
			</div>
			<div>
				<label for="givenName">名：</label>
				<input type="text" name="givenName">
			</div>
			<div>
				<label for="givenName">メールアドレス：</label>
				<input type="text" name="givenName">
			</div>
		</form>
	</main>
	<script></script>
</body>
</html>